In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [2]:
irisDataset = pd.read_csv('Dataset Iris.csv', delimiter=';', header=0)

In [3]:
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [5]:
irisDataset.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0           7.00          3.02           4.07          1.04        0
1           6.04          3.02           4.05          1.05        0
2           6.09          3.01           4.09          1.05        0
3           5.05          2.03           4.00          1.03        0
4           6.05          2.08           4.06          1.05        0

In [6]:
print(irisDataset)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            7.00          3.02           4.07          1.04        0
1            6.04          3.02           4.05          1.05        0
2            6.09          3.01           4.09          1.05        0
3            5.05          2.03           4.00          1.03        0
4            6.05          2.08           4.06          1.05        0
..            ...           ...            ...           ...      ...
95           6.07          3.00           5.02          2.03        1
96           6.03          2.05           5.00          1.09        1
97           6.05          3.00           5.02          2.00        1
98           6.02          3.04           5.04          2.03        1
99           5.09          3.00           5.01          1.08        1

[100 rows x 5 columns]

In [4]:
irisDataset = irisDataset.drop(labels="Id", axis=1)

In [7]:
irisDataset = irisDataset.to_numpy()

In [ ]:
print(irisDataset)

In [9]:
dataTraining = np.concatenate((irisDataset[0:40, :], irisDataset[50:90, :]),
                              axis=0)
dataTesting = np.concatenate((irisDataset[40:50, :], irisDataset[90:100, :]),
                              axis=0)

In [ ]:
print(dataTesting)
len(dataTesting)

In [ ]:
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

In [12]:
model = tree.DecisionTreeClassifier()

In [17]:
model = model.fit(inputTraining, labelTraining)

In [19]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Hasil Prediksi :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [21]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, "data")
print("Prediksi Salah : ", prediksiSalah, "data")
print("Akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar :  20 data
Prediksi Salah :  0 data
Akurasi :  100.0 %